<div class="page-header">
  <div class="page-title">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a>标注任务</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="goTo()">任务详情</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        标注
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <a class="back" (click)="goTo()">
      <i nz-icon type="arrow-left" theme="outline"></i> 返回
    </a>
  </div>
</div>

<nz-spin [nzSpinning]="isLoading">
  <div class="annotation">
    <div class="text-content">
      <div class="annotation-toolbar">
        <div [class.disabled-action]="notHasPagePrevious" class="page previous" (click)="pagePrevious()">
          <i nz-icon type="left" theme="outline"></i> 上一篇
        </div>
        <div class="content">
          <div class="title-content">
            <span class="title">{{ docName }}</span>
            <div class="page-nav">
              <km-quick-jumper (indexChange)="jumperItem($event)" [item]="item"></km-quick-jumper>
              <span>{{this.index}}/{{this.docList.length}}</span>
            </div>
          </div>
          <div class="content-action" *ngIf="taskDocumentStatus !== 'Annotated' && taskInfo?.status == 'Accepted'">
            <nz-dropdown-button class="save" [nzDisabled]="disabled" nzType="primary" (nzClick)="onSave('Assigned')">
              &nbsp;&nbsp;保存&nbsp;&nbsp;
              <ul nz-menu>
                <li nz-menu-item (click)="onSave('Annotated')">保存并提交</li>
              </ul>
            </nz-dropdown-button>
          </div>
        </div>
        <div [class.disabled-action]="notHasPageNext" class="page next" (click)="pageNext()">
          下一篇
          <i nz-icon type="right" theme="outline"></i>
        </div>
      </div>
      <div class="annotator-wrap" *ngIf="taskDocumentStatus !== 'Annotated' && taskInfo?.status == 'Accepted'">
        <span class="label">标注版本：</span>
        <div class="annotator-list">
          <ng-container *ngFor="let label of annotatorList">
            <label nz-checkbox [(ngModel)]="label.checked" (ngModelChange)="labelChange(label)">{{label.label}}</label>
          </ng-container>
        </div>
      </div>
      <div>
        <km-graph-annotation-tool #graphTool [(ngModel)]="src"></km-graph-annotation-tool>
      </div>
    </div>



    <nz-tabset>
      <nz-tab nzTitle="标签类型">
        <km-graph-tag #graphTag [tagList]="tagList" (tag)="selectedTag($event)"></km-graph-tag>
      </nz-tab>
    </nz-tabset>
  </div>
</nz-spin>