<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired nzFor="name">用户名称</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input id="name" type="text" nz-input formControlName="name" value="{{data.name}}">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired nzFor="role">用户角色</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select id="role" formControlName="roles">
        <nz-option *ngFor="let option of userRole" [nzLabel]="option.displayName" [nzValue]="option.value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

