<div class="page-header">
  <div class="page-title">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['../../../../']">标注任务</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="goTo()">任务详情</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        标注
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <a class="back" (click)="goTo()">
      <i nz-icon type="arrow-left" theme="outline"></i> 返回
    </a>
  </div>
</div>

<div class="annotation-action">
  <div class="page previous" [class.disabled-action]="notHasPagePrevious" (click)="pagePrevious()">
    <i nz-icon type="left" theme="outline"></i> 上一篇
  </div>
  <div class="action">
    <ul class="menu">
      <li *ngIf="mode == 'detail'" (click)="viewChange('entity')">
        <i nz-icon type="highlight" theme="outline"></i> 普通模式
      </li>
      <li *ngIf="mode == 'entity'" (click)="viewChange('detail')">
        <i nz-icon type="zoom-in" theme="outline"></i> 详情模式
      </li>
    </ul>
  </div>
  <div class="page next" [class.disabled-action]="notHasPageNext" (click)="pageNext()">
    下一篇
    <i nz-icon type="right" theme="outline"></i>
  </div>
</div>
<nz-spin [nzSpinning]="!currentItemContent">
  <div class="annotation">
    <div class="text-content">
      <div class="title-content">
        <span class="title">{{ docName }}</span>
        <div class="title-page">
          <span [class.disabled-action]="notHasItemPrevious" class="title-action" (click)="jumperItem(itemPage - 1)"><i nz-icon
              type="left" theme="outline"></i> 上一项</span>
          <span class="page-num"> <span>{{ itemPage + 1 }}</span> / {{ itemTotal }} </span>
          <span [class.disabled-action]="notHasItemNext" class="title-action" (click)="jumperItem(itemPage + 1)">下一项 <i nz-icon
              type="right" theme="outline"></i></span>
          <km-quick-jumper (indexChange)="jumperItem($event)"></km-quick-jumper>
        </div>
      </div>
      <div class="content-action" *ngIf="taskDocumentStatus !== 'Annotated'">
        <nz-dropdown-button class="save" nzType="primary" (nzClick)="save()">
          &nbsp;&nbsp;保存&nbsp;&nbsp;
          <ul nz-menu>
            <li nz-menu-item (click)="save('Annotated')">保存并提交</li>
          </ul>
        </nz-dropdown-button>
      </div>
      <km-entity-annotation-tool [(ngModel)]="annotationData" (ngModelChange)="modelChange($event)">
      </km-entity-annotation-tool>
    </div>
    <nz-tabset>
      <nz-tab nzTitle="实体类型">
        <ul class="item-list">
          <li class="item" *ngFor="let entity of entityList">
            <div class="item-title" (click)="addEntity(entity)">
              <span class="item-color" [style.background]="entity.color"></span>
              <span class="item-name" title="{{ entity.name }}">{{ entity.name }} </span>
            </div>
          </li>
        </ul>
      </nz-tab>
    </nz-tabset>
  </div>
</nz-spin>