<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzFor="name">用户名称</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ data.name }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzFor="role">用户角色</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ data.roles[0] | userRole }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired nzFor="password">密码</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <km-input-password formControlName="password"></km-input-password>
      <nz-form-explain *ngIf="hasError('password','required')">密码不能为空</nz-form-explain>
      <nz-form-explain *ngIf="hasError('password','minlength')">密码长度最少6个字符</nz-form-explain>
      <nz-form-explain *ngIf="hasError('password','maxlength')">密码长度最多128个字符</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
