<div class="login-container">
  <div class="login-introduce">
    <div class="login-introduce-inner">
      <div class="login-text">
        <p>欢迎使用</p>
        <p>知识标注平台</p>
        <p>标注平台是一款集数据，流程，项目，人员管理为一体，专注于提高企业内部标注环节效率，搭建平台可扩展，模块可插拔式的企业级AI标注平台</p>
      </div>
      <img src="../../assets/img/login-bg.png" alt="">
    </div>
  </div>
  <div class="login-content">
    <div class="login-content-inner">
      <div class="login-logo">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="login-form-user">
            <p>帐号</p>
            <input type="text" class="username" formControlName="userName" placeholder="请输入用户帐号"
              [ngClass]="{'error':loginForm?.get('userName')?.errors?.required&&(loginForm?.get('userName')?.touched || loginForm?.get('userName')?.dirty)}">
          </div>
          <div class="login-form-password">
            <p>密码</p>
            <input type="password" class="pwd" formControlName="password" placeholder="请输入密码"
              [ngClass]="{'error':loginForm?.get('password')?.errors?.required&&(loginForm?.get('password')?.touched || loginForm.get('password')?.dirty)}">
          </div>
          <p class="alert" [ngClass]="{alert1:error}" *ngIf="error">{{error}}</p>
          <button nz-button color="primary" [nzLoading]="isLoading" class="submit" [disabled]="!loginForm.valid">登录</button>
        </form>
      </div>
      <div class="login-copyright">
        <p>Copyright © 2018 - 2028 Microsoft. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>