<div class="title">
  <h2>标注统计</h2>
</div>

<nz-card class="page-content">
  <div class="search">
    <div>
      <div class="time-btn">
        查询时间：
        <button nz-button *ngFor="let btn of timeBtn" [nzType]="btn.type"
          (click)="getBtn(btn.value)">{{ btn.value }}</button>
      </div>
      <div class="date-range">
        起始日期：
        <nz-date-picker nzShowToday="false" [(ngModel)]="filterTime.start" (ngModelChange)="onChange()"
          nzAllowClear="false">
        </nz-date-picker>
        结束日期：
        <nz-date-picker nzShowToday="false" [(ngModel)]="filterTime.end" (ngModelChange)="onChange()"
          nzAllowClear="false">
        </nz-date-picker>
      </div>
    </div>
    <div>
      标注类型：
      <nz-select name="status" [(ngModel)]="selectedValue" class="status-select">
        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.displayName" [nzValue]="option.value">
        </nz-option>
      </nz-select>
      <button nz-button nzType="primary" (click)="search()"><i nz-icon type="search"></i>查询</button>
      <button nz-button nzType="default" (click)="reset()">重置</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="loading" *ngIf="!dataSet">
    <nz-spin nzSimple></nz-spin>
  </div>
  <div class="data-container" *ngIf="dataSet">
    <nz-spin [nzSpinning]="loading">
      <div class="tatistic-conatiner">
        <div class="item">
          <p>{{ dataSet.annotatedTaskCount | number }}</p>
          <p>已标注任务</p>
        </div>
        <div class="item">
          <p>{{ dataSet.annotatedDocumentCount | number }}</p>
          <p>已标注文件</p>
        </div>
        <div class="item">
          <p>{{ dataSet.annotatedItemCount | number }}</p>
          <p>已标注项</p>
        </div>
      </div>
      <div class="data-table">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
          <nz-tab nzTitle="经理标注统计">
            <nz-table #managerTable [nzData]="dataSet.managers" nzBordered [nzTotal]="dataSet.managers.length"
              [nzShowTotal]="totalTemplateManagers">
              <thead>
                <tr>
                  <th nzWidth="25%">用户名称</th>
                  <th>已创建任务</th>
                  <th>已审核任务</th>
                  <th>未完成任务</th>
                  <th>已审核文档</th>
                  <th>已审核标注项</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of managerTable.data">
                  <td><a [routerLink]="[data.user.id + '/detail']"
                      [queryParams]="{start: queryTime.start, end: queryTime.end, task: data.statisitics.finishedTaskCount, doc:data.statisitics.finishedDocumentCount, item: data.statisitics.finishedItemCount, type: workspaceType}">{{ data.user.name }}</a>
                  </td>
                  <td>{{ data.statisitics.createdTaskCount }}</td>
                  <td>{{ data.statisitics.finishedTaskCount }}</td>
                  <td>{{ data.statisitics.notFinishedTaskCount }}</td>
                  <td>{{ data.statisitics.finishedDocumentCount }}</td>
                  <td>{{ data.statisitics.finishedItemCount }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="标注员标注统计">
            <nz-table #annotatorTable [nzData]="dataSet.annotators" nzBordered [nzTotal]="dataSet.annotators.length"
              [nzShowTotal]="totalTemplateAnnotators">
              <thead>
                <tr>
                  <th nzWidth="25%">用户名称</th>
                  <th>已标注任务</th>
                  <th>未完成任务</th>
                  <th>已标注文档</th>
                  <th>未完成文档</th>
                  <th>已标注项</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of annotatorTable.data">
                  <td><a [routerLink]="[data.user.id + '/detail']"
                      [queryParams]="{start: queryTime.start, end: queryTime.end, task: data.statisitics.finishedTaskCount, doc:data.statisitics.finishedDocumentCount, item: data.statisitics.finishedItemCount, type: workspaceType}">{{ data.user.name }}</a>
                  </td>
                  <td>{{ data.statisitics.finishedTaskCount }}</td>
                  <td>{{ data.statisitics.notFinishedTaskCount }}</td>
                  <td>{{ data.statisitics.finishedDocumentCount }}</td>
                  <td>{{ data.statisitics.notFinishedDocumentCount }}</td>
                  <td>{{ data.statisitics.finishedItemCount }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-spin>
  </div>
</nz-card>

<ng-template #totalTemplateManagers let-total> 共 {{ dataSet.managers.length }} 条 </ng-template>
<ng-template #totalTemplateAnnotators let-total> 共 {{ dataSet.annotators.length }} 条 </ng-template>
